//My media queries
@mixin respond($breakpoint) {
  @if $breakpoint == xs-phone {
    @media screen and (max-width: 20em) {
      @content;
    }
  }
  @if $breakpoint == s-phone {
    @media screen and (max-width: 23.4375em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media screen and (max-width: 26.5625em) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media screen and (max-width: 31em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media screen and (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media screen and (max-width: 64em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media screen and (max-width: 90em) {
      @content;
    }
  }
  @if $breakpoint == lan-desktop {
    @media screen and (max-width: 160em) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(tablet) {
    font-size: 50%;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(desktop) {
    font-size: 75%;
  }
  @include respond(lan-desktop) {
    font-size: 94%;
  }
}
body {
  background-color: white;
}
@mixin header {
  width: 17rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}
@mixin to-do {
  width: 16rem;
  min-height: 2.5rem;
  background-color: #ffff;
  filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.8));
  margin: 0.5rem auto;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}
