//<!--/////////////----This is main app-->
.main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include respond(tab-land) {
    height: 150vh;
  }
  @include respond(tablet) {
    height: 100vh;
  }
  @include respond(tab-port) {
    height: 160vh;
  }
  @include respond(s-phone) {
    height: 160vh;
  }
  @include respond(xs-phone) {
    height: 160vh;
  }

  &__background {
    flex: 0 0 30%;
    width: 100%;
    height: 100vh;
    background-image: url("/images/tim-swaan-eOpewngf68w-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @include respond(tab-land) {
      flex: 0 0 40%;
    }
    @include respond(tablet) {
      flex: 0 0 40%;
    }
    @include respond(tab-port) {
      flex: 0 0 25%;
    }
    @include respond(s-phone) {
      flex: 0 0 20%;
    }
    @include respond(xs-phone) {
      flex: 0 0 15%;
    }

    &--buttons {
      position: absolute;
      left: 85%;
      bottom: 5%;
      display: flex;
      align-items: center;
      width: 8rem;
      height: 2rem;
      @include respond(tablet) {
        left: 75%;
      }
      @include respond(tab-port) {
        left: 60%;
      }
      @include respond(s-phone) {
        left: 60%;
        font-size: 0.5rem;
      }
      @include respond(xs-phone) {
        left: 60%;
        font-size: 0.5rem;
      }
    }
  }
}
.upload,
.remove {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.separator {
  color: white;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.tabs__contanier {
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 3.6rem 7rem 0;
  display: flex;
  font-family: poppins, Arial, Helvetica, sans-serif;
  @include respond(tab-land) {
    padding: 1rem;
  }
  @include respond(tablet) {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
  @include respond(tab-port) {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
  @include respond(s-phone) {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
  @include respond(xs-phone) {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
.tasks__tab {
  width: 18rem;
  height: auto;
  margin-right: 0.5rem;
  @include respond(tab-land) {
    width: 15rem;
    margin-right: 1rem;
  }
  @include respond(tablet) {
    width: 18rem;
  }
  @include respond(tab-port) {
    width: 18rem;
  }
  @include respond(s-phone) {
    width: 18rem;
  }
  @include respond(xs-phone) {
    width: 18rem;
  }
}
.tasks__completed {
  width: 18rem;
  height: auto;
  margin-right: 0.5rem;
  @include respond(tab-land) {
    width: 15rem;
    margin-right: 1rem;
  }
  @include respond(tablet) {
    width: 18rem;
  }
  @include respond(tab-port) {
    width: 18rem;
  }
  @include respond(s-phone) {
    width: 18rem;
    height: 16rem;
  }
  @include respond(xs-phone) {
    width: 18rem;
    height: 18rem;
  }
}
.tasks__deleted {
  width: 18rem;
  height: 3rem;
  margin-right: 0.5rem;
  @include respond(tab-land) {
    width: 15rem;
    margin-right: 1rem;
  }
  @include respond(tablet) {
    width: 18rem;
  }
  @include respond(tab-port) {
    width: 18rem;
  }
  @include respond(s-phone) {
    width: 18rem;
    height: 16rem;
  }
  @include respond(xs-phone) {
    width: 18rem;
    height: 18rem;
  }
}
.tasks__tab--header {
  width: 18rem;
  height: 3rem;
  background-color: #ffbd3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 1rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  @include respond(tab-land) {
    width: 15rem;
  }
  @include respond(tablet) {
    width: 18rem;
  }
  @include respond(tab-port) {
    width: 18rem;
  }
  @include respond(s-phone) {
    width: 18rem;
  }
  @include respond(xs-phone) {
    width: 16rem;
  }
}
.heading {
  border: none;
  background-color: transparent;
  height: 1.5rem;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
}
.heading:active,
.heading:focus {
  outline: none;
}
::-webkit-input-placeholder {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}
.fa-angle-double-up {
  cursor: pointer;
  margin-right: 0.7rem;
}
.add-btn {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 5rem;
  background-color: white;
  position: relative;
  cursor: pointer;
}
.fa-plus {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tasks__completed--header {
  @include header;
  background-color: #2cb541;
}
.tasks__completed--header .fa-angle-double-up {
  margin-right: 1rem;
}
.tasks__deleted--header {
  @include header;
  background-color: #eb3333;
}
.tasks__deleted--header .fa-angle-double-up {
  margin-right: 1rem;
}
.to-do {
  @include to-do;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-trash-alt {
  cursor: pointer;
}
.to-do--complete {
  text-decoration: line-through;
  @include to-do;
}
.to-do--deleted {
  @include to-do;
}
.all-tasks {
  width: 18rem;
  height: 20rem;
  padding-top: 0.7rem;
  overflow-y: auto;
  @include respond(tab-land) {
    width: 15rem;
    height: 18rem;
    margin-bottom: 1rem;
  }
  @include respond(tablet) {
    width: 18rem;
    height: 15rem;
    margin-bottom: 1rem;
  }
  @include respond(tab-port) {
    width: 18rem;
    height: 15rem;
    margin-bottom: 1rem;
  }
  @include respond(s-phone) {
    width: 18rem;
    height: 11rem;
    margin-bottom: 1rem;
  }
  @include respond(xs-phone) {
    width: 18rem;
    height: 13rem;
    margin-bottom: 1rem;
  }
}
.close_tab {
  height: 0;
  transition: all 0.6s;
}
.transform {
  transform: rotate(180deg);
  transition: all 0.6s;
}
#time {
  margin-bottom: 1rem;
  font-weight: 600;
}
.to-do--text {
  cursor: pointer;
}
