*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.wrapper {
  width: 100;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19%;
          flex: 0 0 19%;
  background-color: #f3f3f3;
  padding: 0 0 0 1rem;
}

.header__user-profile {
  width: 100%;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user--photo {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  background-image: url("/images/WhatsApp Image 2021-11-02 at 14.04.00.jpeg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-right: 0.8rem;
}

.header__user--name {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
}

.settings {
  width: 100%;
  height: 70%;
}

.settings__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  cursor: pointer;
  padding-left: 0.5rem;
  margin-bottom: 0.1rem;
}

.settings__timer--clock {
  width: 1rem;
  height: 2rem;
  fill: rgba(0, 0, 0, 0.7);
  margin-right: 0.4rem;
}

.settings__timer p {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.settings__setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 3rem;
  padding-left: 0.5rem;
}

.settings__setting--gear {
  width: 1rem;
  fill: rgba(0, 0, 0, 0.7);
  margin-right: 0.4rem;
  height: 2rem;
}

.settings__setting p {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.current-date {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: poppins, Arial, Helvetica, sans-serif;
  padding-left: 0.5rem;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__background {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  width: 100%;
  height: 100vh;
  background-image: url("/images/tim-swaan-eOpewngf68w-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main__background--buttons {
  position: absolute;
  left: 85%;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8rem;
  height: 2rem;
}

.upload,
.remove {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.separator {
  color: white;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.tabs__contanier {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3.6rem 7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.tasks__tab {
  width: 18rem;
  height: auto;
}

.tasks__completed {
  width: 18rem;
  height: 3rem;
}

.tasks__deleted {
  width: 18rem;
  height: 3rem;
}

.tasks__tab--header {
  width: 17rem;
  height: 3rem;
  background-color: #ffbd3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 1rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}

.heading {
  border: none;
  background-color: transparent;
  height: 1.5rem;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
}

.heading:active,
.heading:focus {
  outline: none;
}

::-webkit-input-placeholder {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}

.fa-angle-double-up {
  cursor: pointer;
}

.add-btn {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 5rem;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.fa-plus {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tasks__completed--header {
  width: 17rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 0.5rem 0.5rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  background-color: #2cb541;
}

.tasks__completed--header .fa-angle-double-up {
  margin-right: 1rem;
}

.tasks__deleted--header {
  width: 17rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 0.5rem 0.5rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  background-color: #eb3333;
}

.tasks__deleted--header .fa-angle-double-up {
  margin-right: 1rem;
}

.to-do {
  width: 16rem;
  min-height: 2.5rem;
  background-color: #ffff;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.8));
          filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.8));
  margin: 0.5rem auto;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa-trash-alt {
  cursor: pointer;
}

.to-do--complete {
  text-decoration: line-through;
  width: 16rem;
  min-height: 2.5rem;
  background-color: #ffff;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.8));
          filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.8));
  margin: 0.5rem auto;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.to-do--deleted {
  width: 16rem;
  min-height: 2.5rem;
  background-color: #ffff;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.8));
          filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.8));
  margin: 0.5rem auto;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=main.css.map */